<div class="calendar-container">
  <div class="calendar-header">
    <button (click)="previousMonth()">&#8249;</button>
    <span>{{ monthYear }}</span>
    <button (click)="nextMonth()">&#8250;</button>
  </div>
  <div class="calendar-grid">
    <div class="calendar-day" *ngFor="let day of daysOfWeek">{{ day }}</div>
    <div class="calendar-date" *ngFor="let date of calendarDates"
         [class.today]="date.isToday"
         (dblclick)="editSchedule(date)">
      <span>{{ date.day }}</span>
      <div *ngIf="date.events.length" class="events">
        <div *ngFor="let event of date.events" class="event">{{ event }}</div>
      </div>
    </div>
  </div>
</div>
