<div class="footer">
    <a href="/main/home" class="footer-item">
      <i class="icon home-icon"></i>
      <span>首頁</span>
    </a>
    <a href="/main/home" class="footer-item">
      <i class="icon favorite-icon"></i>
      <span>我的最愛</span>
    </a>
    <a href="/main/schedule" class="footer-item">
      <i class="icon schedule-icon"></i>
      <span>我的課表</span>
    </a>
    <a href="/main/schedule" class="footer-item">
      <i class="icon record-icon"></i>
      <span>我的紀錄</span>
    </a>
  </div>
  