<div class="home-container">
  <!-- Search Bar -->
  <div class="search-container">
    <div class="search-input-container">
      <input
        type="text"
        placeholder="輸入關鍵字"
        [(ngModel)]="searchQuery"
        class="search-input"
      />
      <button (click)="search()" class="search-button">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <!-- Other content of the Home component -->
  <div class="carousel-header">
    <h2>熱門教練推薦</h2>
    <button class="add-coach-button">+</button>
  </div>
  <div class="carousel-container">
    <button class="arrow left-arrow" (click)="prev()">&#8249;</button>

    <div class="carousel">
      <div *ngFor="let coach of visibleCoaches" class="coach-card">
        <img [src]="coach.photo" alt="{{ coach.name }}" class="coach-photo" />
        <div class="coach-info">
          <h3>{{ coach.name }}</h3>
          <p>{{ coach.evaluation }}</p>
          <p><strong>Expertise:</strong> {{ coach.expertise }}</p>
        </div>
      </div>
    </div>
    <button class="arrow right-arrow" (click)="next()">&#8250;</button>
  </div>

  <!-- 熱門影片推薦 -->
  <div class="carousel-header">
    <h2>熱門影片推薦</h2>
    <button class="add-coach-button">+</button>
  </div>
  <div class="video-section">
    <div class="video-container">
      <div class="video-card" *ngFor="let video of visibleVideos">
        <iframe
          width="100%"
          height="100%"
          [src]="video.url | safeUrl"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <div class="video-info">
          <h3>{{ video.title }}</h3>
          <p>{{ video.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>


